<footer>
    <div class="footer">
        <div class="contact-us">
            <h4><span> <strong>Contact us : </strong> Mobile No:1234567890 | Email:abc@gmail.com </span></h4>
        </div>
        <hr>
        <h3 class="term">Term & Condition</h3>
        <p>
           1. If Customer wish to cancel their slot with in a week after the registration and apropiate payment fee he/she
            will be get from particuler branch office. </p>
        <p> 2. process and payment fees should be online only.</p>
        <p>3. All branches have same time to open and close.</p>
        <p>4. Cancellation request granted according to certain criteria </p>
    </div>
</footer>