<div class="form">
  <div class="title">Male Form:</div>
  <div class="field">
    <div class="label">Name</div>
    <input type="text">
  </div>
  <div class="field">
    <div class="label">Email</div>
    <input type="text">
  </div>
  <div class="field">
    <div class="label">Address</div>
    <input type="text">
  </div>
  
  </div>