<div class="smit">
    <h1>Save your Time , Register Online</h1>

</div>
<div class="pagination">
    <div class="container" id="raj">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h2>Benefits of Swimming</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-service">
                    <img src="img/1.jpg" class="qts-img" alt="">
                    <div class="service-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam laborum inventore.
                            Voluptates consequatur maxime porro quidem, totam placeat illo repellendus praesentium fuga
                            esse doloremque!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <img src="img/2.jpg" class="qts-img" alt="">
                    <div class="service-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam laborum inventore.
                            Voluptates consequatur maxime porro quidem, totam placeat illo repellendus praesentium fuga
                            esse doloremque!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-service">
                    <img src="img/9.jpg" class="qts-img" alt="">
                    <div class="service-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ipsam laborum inventore.
                            Voluptates consequatur maxime porro quidem, totam placeat illo repellendus praesentium fuga
                            esse doloremque!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>